# PagBank Configuration
PAGBANK_HOST=https://api.pagbank.com.br
PAGBANK_PUBLIC_KEY=seu_public_key_aqui
PAGBANK_SECRET_KEY=seu_secret_key_aqui

# Server Configuration
PORT=3000
NODE_ENV=development

# Frontend URL
FRONTEND_URL=http://localhost:5500
